* {
    padding: 0;
    margin: 0;
}


.card {
    background-color: rgba(149, 147, 217, 0.5);
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    width: 10rem;
    display: flex;
    flex-flow: wrap;
    margin-bottom: 10rem;
}

.card-test {
    display: flex;
    justify-content: center;
}

.card1 {
    background-color: rgba(149, 147, 217, 0.5);
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    width: 10rem;
    display: flex;
    flex-flow: wrap;
    /* pk sa afflu ????? */
    padding-bottom: 10rem;
}

.xppro{
    text-align: center;
}