* {
    padding: 0;
    margin: 0;

}

body{
    background-color: #E0D8D0;
}

header{
    background-color: #4D4A58;
    text-decoration: none;
    color: white;
}

footer{
    background-color: #4D4A58;
    text-decoration: none;
    color: white;
}

h1{
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 2px 3px grey ;
}

body>h2{
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 2px 3px grey ;
    padding-bottom: 0.5rem;
}

footer>h2{
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.card{
    max-width: 150px;
    background-color: #D9D9D9;
    border: 2px solid #9593D9;
    border-radius: 6px;
    text-align: center;
}














img{
    width: 20rem;
}

.aled{
    width: 5rem;
}