* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E0D8D0;
}

header {
    background-color: #4D4A58;
    text-decoration: none;
    color: white;
    padding-bottom: 4rem;
    /* justify-content: center; */
}

footer {
    background-color: #4D4A58;
    text-decoration: none;
    color: white;
    padding-top: 6rem;
}

h1 {
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 2px 3px grey;
}

body>h2 {
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 2px 3px grey;
    padding-bottom: 0.5rem;
    text-align: center;
}

footer>h2 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* pas responsive */
.rectangle {
    max-width: 250px;
    background-color: #D9D9D9;
    border: 5px solid #9593D9;
    border-radius: 6px;
    text-align: center;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.card {
    background-color: rgba(149, 147, 217, 0.5);
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    width: 10rem;
    display: flex;
    flex-flow: wrap;
    display: grid;
}

.card-test {
    display: flex;
}

/* pas responsive */
.test {
    margin: auto; 
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 20rem;
}

.aled {
    width: 5rem;
    border-radius: 30px;
}

img {
    width: 20rem;
    border-radius: 20px;
    border: 2px solid #000;
}

#arrow{
    display: flex;
    margin: auto;
    padding-bottom: 2rem;
    color: #665A5B;
}

.intro{
    display: flex;
    padding-left: 10rem;
    align-items: center;
    padding-top: 2rem;
}

.intro img{
    width: 40%;
}
    