* {
    padding: 0;
    margin: 0;

}

body{
    background-color: #E0D8D0;
}

header{
    background-color: #4D4A58;
    text-decoration: none;
    color: white;
}

footer{
    background-color: #4D4A58;
    text-decoration: white;
}

h1{
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100rem;
    font-style: normal;
    text-shadow: 0px 2px 3px grey ;
}
