* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E0D8D0;
}

header {
    background-color: #4D4A58;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 35rem;
    padding-left: 2rem;
}

footer {
    background-color: #4D4A58;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-left: 2rem;
}

footer nav{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

footer section{
    display: flex;
    gap: 29rem;
    justify-content: center;
    align-items: center;
}


header nav {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration-color: #9593D9 !important;
    text-decoration: underline 3px;
}

.rect1 {
    max-width: 250px;
    background-color: #D9D9D9;
    border: 5px solid #9593D9;
    border-radius: 6px;
    text-align: center;
    margin: auto;
    color: #000;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-decoration: none !important;
}

h1 {
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 2px 3px grey;
}

body>h2 {
    color: #665A5B;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: 0px 2px 3px grey;
    padding-bottom: 0.5rem;
    text-align: center;
}

footer>h2 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* pas responsive */
.rectangle {
    max-width: 250px;
    background-color: #D9D9D9;
    border: 5px solid #9593D9;
    border-radius: 6px;
    text-align: center;
    margin: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.card {
    background-color: rgba(149, 147, 217, 0.5);
    margin: 3rem;
    padding: 2rem;
    border-radius: 10px;
    width: 10rem;
    display: flex;
    flex-flow: wrap;
    display: grid;
}

.card-test {
    display: flex;
}

/* pas responsive */
.test {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 20rem;
}


img {
    width: 20rem;
    border-radius: 20px;
    border: 2px solid #000;
}

#arrow {
    display: flex;
    margin: auto;
    padding-bottom: 2rem;
    color: #665A5B;
}

.intro {
    display: flex;
    padding-left: 10rem;
    align-items: center;
    padding-top: 2rem;
}

.intro img {
    width: 40%;
}

.intro2 {
    display: flex;
    padding-left: 10rem;
    align-items: center;
    padding-top: 2rem;
    margin-left: 10rem;
}

.aled {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10rem;
    border: none;
}